<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Photobooth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <Photobooth.Properties.Settings>
            <setting name="FontFamily" serializeAs="String">
                <value>Gabriola</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>C:\Captures</value>
            </setting>
            <setting name="ImageExtension" serializeAs="String">
                <value>*.jpg</value>
            </setting>
            <setting name="DisplaySeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PromptText" serializeAs="String">
                <value>Click the button on the remote to take a picture.
Don't forget to smile!</value>
            </setting>
        </Photobooth.Properties.Settings>
    </userSettings>
</configuration>
